In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('try/train.csv', sep="\t", names=['user', 'items','ratings', 'timestamp'])
test = pd.read_csv('try/test.csv', sep="\t", names=['user', 'items','ratings', 'timestamp'])
predict = pd.read_csv('try/predict.csv')

In [16]:
train.head(3)

   user  item  rating  timestamp
0     0     0       5  874965478
1     0     1       5  874965478
2     0     2       5  874965518

In [18]:
test.head(3)

   user  item  rating  timestamp
0   923   503       3  892302309
1   924   289       3  891264267
2   923   312       3  891206450

In [21]:
predict.head(3)

   item   rating  user
0   418  4.54474   923
1   453  4.53084   923
2   484  4.51965   923

In [25]:
predict.to_csv('try/predict.csv', index=None)

In [23]:
test = pd.read_csv('try/test.csv')
test.head(3)

   user  item  rating  timestamp
0   923   503       3  892302309
1   924   289       3  891264267
2   923   312       3  891206450

In [3]:
from metrics import *

In [6]:
met = metrics(train=train, test=test, predict=predict, 
                  train_columns=['user', 'item', 'rating'], 
                  predict_columns=['item', 'rating','user'],
                  test_columns=['user', 'item', 'rating'])

KeyError: "['item' 'rating'] not in index"

In [7]:
met.ndcg()

nDCG = 0.01806383475192906

0.01806383475192906

In [8]:
met.precision_at_k(5)

precision@5 = 0.026542491268917345

0.026542491268917345

In [9]:
met.recall()

recall = 0.022116848634824188

0.022116848634824188

In [12]:
met.rec_sys_report(['ndcg', 'precision_at_k', 'mean_avg_precision'], k=5)

nDCG = 0.01806383475192906
precision@5 = 0.026542491268917345

{'ndcg': 0.01806383475192906,
 'precision_at_5': 0.026542491268917345,
 'mean_avg_precision': 0.055280226176617375}

In [27]:
evaluator = metrics(train, test, predict)
ev = evaluator.rec_sys_report(['ndcg', 'precision_at_k', 'mean_avg_precision'], k=5)
ev

nDCG = 0.01806383475192906
precision@5 = 0.026542491268917345

{'ndcg': 0.01806383475192906,
 'precision_at_5': 0.026542491268917345,
 'mean_avg_precision': 0.055280226176617375}

In [50]:
it = ev.items()
res = list(it)

In [51]:
res

[('ndcg', 0.01806383475192906),
 ('precision_at_5', 0.026542491268917345),
 ('mean_avg_precision', 0.055280226176617375)]

In [56]:
pd.DataFrame([['ndcg',0.893]])

      0      1
0  ndcg  0.893

In [60]:
pd.DataFrame(res).to_csv('mdf.csv', index=None)

In [59]:
mdf = pd.DataFrame(res)
mdf.to_csv('mdf.csv', index=None)

In [57]:
mdf = pd.read_csv('mdf.csv')

In [58]:
mdf.values

array([['ndcg', 0.018063834751929058],
       ['precision_at_5', 0.026542491268917345],
       ['mean_avg_precision', 0.055280226176617375]], dtype=object)